#ad_slot{
	width: 100%;
	height: 100px;
	background: #ebebeb;
	margin: 20px 0;
}

body{
	font-family: helvetica, 'helvetica neue', arial, sans-serif;
	color: #222;
	background: #FDFAEF;
	font-size: 14px;
	line-height: 1.5em;
}

h1{
	color: #D92B3A;
	font-family: 'Pacifico';
	font-size: 2em;
}

header{
	background: #D0003F;
	color: #FDFAEF;
	height: 54px;
	line-height: 54px;
	width: 100%;
	margin: 0px;
	display: block;
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
}

header a{
	display: inline-block;
}

.header-controls{
	display: block;
	float: right;
}

#header_placeholder {
	height: 54px;
	width: 100%;
}

#logo{
	background: url('/assets/img/logo.png') no-repeat;
	background-position: 0 0;
	height: 54px;
	width: 228px;
	margin: 0;
	text-indent: -1000px;
	margin-left: 1%;
}

.button-submit{
	background: #b8faff; /* Old browsers */
	background: -moz-linear-gradient(top, #b8faff 0%, #65c8d0 47%, #65c8d0 77%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8faff), color-stop(47%,#65c8d0), color-stop(77%,#65c8d0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b8faff 0%,#65c8d0 47%,#65c8d0 77%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b8faff 0%,#65c8d0 47%,#65c8d0 77%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b8faff 0%,#65c8d0 47%,#65c8d0 77%); /* IE10+ */
	background: linear-gradient(to bottom, #b8faff 0%,#65c8d0 47%,#65c8d0 77%); /* W3C */
	width: 61px;
	color: #111;
	padding: 3px;
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	border: none;
	text-decoration: none;
}

.header-logout{
	height: 20px;
	line-height: 20px;
	float: right;
}
.main{
	width: 960px;
	margin: 0 auto;
}

.cart-item{
	width: 600px;
	float: left;
}

.cupcake-cart-info{
	float: right;
	width: 300px;
	display: inline-block;
}

.cupcake{
	float: left;
	display: block;
	height: 345px;
	width: 230px;
	margin: 20px 5px;
}

.cupcake-thumb{
	background: #fff; 
	height: 230px;
	width: 230px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3);
}

.cupcake-thumb img{
/* 	background: #fff;  */
	height: 220px;
	width: 178px;
	margin-left: 30px;
	margin-top: 5px;
	
}

.cupcake-name{
	color: #D92B3A;
	font-family: 'Pacifico';
}

.cupcake-name{
	font-size: 16px;
}

.cupcake-detail-name{
	font-size: 26px;
}

.cupcake-info{
	margin: 5px 10px;
}

.cupcake-info span, .cupcake-detail-info span, .cupcake-detail-info a{
	float:left;
	clear: both;
}

.cupcake-detail-img{
	background: #fff;
	height: 390px;
	width: 390px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3);
	display: inline-block;
	float: left;
	margin-right: 20px;
}

.cupcake-detail-img img{
	width: 310px;
	margin-left: 40px;
}

.cupcake-detail-info{
	float: right;
	display: block;
	width: 550px;
}

.login{
	float: right;
	display: block;
	width: 380px;
}

.signup{
	float: left;
	display: block;
	width: 470px;
}

.signup, .login{
	background: #fff;
	padding: 20px;
	border-radius: 3px;
	box-shadow: 0 0 .5em rgba(0, 0, 0, 0.3);
	margin-top: 20px;
}

.signup label{
	display: inline-block;
	width: 450px;
}
.signup input, .login input{
	width: 100%;
	padding: 5px;
	border: 1px solid #e6e6e6;
	border-top: 2px solid #e0e0e0;
	border-radius: 3px;
}

.signup input:focus, .login input:focus{
	outline: none;
	border: 1px solid #969696;
	border-top: 2px solid #969696;
}

#terms{
	width: 20px;
}

.signup div, .login div{
	margin: 20px auto;
}

.login label{
	display: block;
	width: 350px;
}

.shopping-cart{
	float: right;
	clear: both;
	width: 270px;
}

#login-graphic{
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -600px;
	width: 1200px;
	z-index: -1;
}